* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "David Libre", serif;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 15%;
  padding: 30px 0;
  top: 0;
  z-index: 999;
  transition: 0.3s linear;
}

.inner-width {
  max-width: 1600px;
  padding : 0 40px;
}

.navbar .inner-width {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.logo {
   width: 200px;
    height: 100px;
    background: url(
      https://cdn.glitch.com/c92254a9-06fa-4f90-bb6a-9076e7a595bf%2F14.png?v=1603395891677
      ) no-repeat center;
    background-size: contain;
  }

.menu-toggler {
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}



.menu-toggler span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: 0.3s linear;
}


.navbar-menu a {
  color: black;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  transition: 0.2s linear;
}

.navbar-menu a:hover {
  color: #48dbfb !important;
}

.sticky {
  background-color: white;
  padding: 18px 0;
}
  .sticky .logo {
    width: 200px;
    height: 100px;
    background: url(https://cdn.glitch.com/c92254a9-06fa-4f90-bb6a-9076e7a595bf%2F14.png?v=1603395891677) no-repeat center;
    background-size: contain;
  }

.sticky .navbar-menu a {
  color: black;
}

.sticky .menu-toggler span {
  background-color: #111;
}

#content .top-title{
    text-align:left  ;
    color:  white;
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
  margin-left: 70px;
   
}

#content .top-inner{
margin-top:60px;
background: url(https://cdn.glitch.com/c92254a9-06fa-4f90-bb6a-9076e7a595bf%2Flock.jpg?v=1604607487103) no-repeat center ;
background-size: cover;
color: white;
width:100%;
padding: 80px 0;
text-align
border: 1px solid #2196F3;
}


#content h2{
    text-align: left;
    color:  white;
    font-size: 22px;
    margin-left: 180px;
}

#information{
    margin-bottom: 150px;
}
#information hr{
    margin-top: 30px;
    margin-bottom: 0px;
}

#information .topics{
    margin-top: 10px;
    margin-bottom: 20px;

}

#information img{
    margin-left: 50px;
    width: 52px;
    height: 62px;
    margin-top:30px;
}

#information h4{
    font-size: 25px;
    margin-left: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#information p{
    margin-top: 30px;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    margin-left: 120px;
    margin-right: 100px;
    font-size:20px;
}



footer {
  background-image: url("https://cdn.glitch.com/5a4ae6e4-c67f-4814-ae9f-42123000f196%2Fimages.jpg?v=1602040250993");
  color: white;
  padding: 80px 0;
  text-align: center;
  border: 1px solid #2196F3;
}

.sm a {
  display: inline-block;
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #2196F3;
  margin: 0 16px;
  transition: 0.4s linear;
  position: relative;
}

.sm a::before,
.sm a:after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid;
  left: 0;
  top: 0;
  transition: 0.4s linear;
}

.sm a:hover {
  transform: scale(0.9);
}

.sm a:hover::before {
  border-left: 1px solid;
  border-right: 1px solid;
  transform: skewY(20deg);
}

.sm a:hover::after {
  border-top: 4px solid;
  border-bottom: 4px solid;
  transform: skewX(-20deg);
}

.copyright {
  margin-bottom: 20px;
  font-size: 15px;
}
.policy a {
  font-family: "David Libre", serif;
  font-size: 18pßx;
  padding: 0 3px 50px 3px;
  color: white;
}

.copyright a {
  font-size: 16px;
  color: #48dbfb;
  font-weight: 500px;
  margin-top: 10px;
}

.goTop {
  position: fixed;
  z-index: 999;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: #48dbfb;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  outline: none;
  display: none;
}

@media screen and (max-width: 980px) {
  .menu-toggler {
    display: block;
  }

  .navbar-menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: 0.3s linear;
  }

  .navbar-menu a {
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  .sticky .navbar-menu {
    background-color: white;
    padding: 18px 0;
  }
  .navbar-menu.active {
    right: 0;
  }

  .menu-toggler.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.activespan:nth-child(2) {
    opacity: 0;
    top: 4px;
  }
  .menu-toggler.active span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 4px;
  }
}
@media screen and (max-width: 600px) {
  .inner-width {
    padding: 0 20px;
  }


}
