
*{
  font-family: 'Montserrat', sans-serif;
}

#topic{
  font-size: 28px;
  font-weight: bold;
}

#des{
  padding: 0 15px 10px 15px;
  line-height: 1.4;
}

/* Navigation Bar*/
.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 999;
  transition: 0.3s linear;
}

.inner-width {
  max-width: 3000px;
  margin: auto;
  padding: 0 40px;
}

.navbar .inner-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-toggler {
  background: black;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}
.menu-toggler span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: 0.3s linear;
}	

.navbar-menu a{
  color: white;
  font-size: 20px;
  margin-left: 30px;
  transition: 0.2s linear;
}

.navbar-menu a:hover {
  color: #48dbfb !important;
}

.sticky {
  background-color: white;
  padding: 18px 0;
}

.sticky .navbar-menu a {
  color: black;
}

.sticky .menu-toggler span {
  background-color: #111;
}

.logo{
  position:absolute;
  left:0;
  top:0;
  width: 300px;
  height: 100px;
}



/* the modal (background) */
/*.modal {*/
/*  display: none; !* hidden by default *!*/
/*  position: fixed; !* stay in place *!*/
/*  z-index: 1; !* sit on top *!*/
/*  padding-top: 0px; !* location of the box *!*/
/*  left: 0;*/
/*  top: 0;*/
/*  width: 100%; !* full width *!*/
/*  height: 100%; !* full height *!*/
/*  overflow: auto; !* enable scroll if needed *!*/
/*  background-color: rgb(0,0,0); !* fallback color *!*/
/*  background-color: rgba(0,0,0,0.4); !* black w/ opacity *!*/
/*  font-size: 20px;*/
/*}*/

/* modal content */
.modal-content {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  width: 40%;
  min-width: 465px;
  height: 40%;
  margin: 170px auto auto auto;
  border-radius: 20px;
}

#myProgress {
  /*width: 100%;*/
  background-color: #ddd;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#myBar {
  width: 12.5%;
  height: 30px;
  background-color: #F4D03F;
  padding-top: 15px;
  text-align: center;
  border-radius: 10px;
}

.boxed {
  border: 1px solid black ;
  margin: 10px 10px 10px 13%;
  padding:10px;
  border-radius: 10px;
  width: 70%;
  min-width: 330px;
}

/*adjust the size of the checkbox*/
input[type=checkbox] {
    width:20px;
	height:20px;
}

body {
  background-image: url("../Images/new_bgg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
/*For the submit and back button*/
.button {
  background-color: #48dbfb; /* blue */
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size:16px;
  border-radius: 10px;
  width: 90px;
  height: 38px;
}

footer {
  color: white;
  padding:0px;
  text-align: center;
  position:0;
  bottom:0;
  width:100%;
}

.copyright {
  margin-bottom: 20px;
  font-size: 18px;
  color:black;
}
.policy a {
  font-size: 18px;
  padding: 0 3px 50px 3px;
  color: black;
}

.policy a.bt{
  font-weight: 900;
}

.copyright a {
  font-size: 18px;
  color: #154E89;
  font-weight: 600;
  margin-top: 10px;
}


